@import "@/style/variables.scss";

.faculties {
    position: relative;
    margin-top: 200px;

    .menu {
        background-color: #fff;
        box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.144), 0px -5px 5px rgba(0, 0, 0, 0.144);
        .container {

            border-left: 1px solid #ccc;
            .card-box {
                height: 200px;
                align-items: center;
                width: calc(100% / 5);
                height: 200px;
                border-right: 1px solid #ccc;

                img {
                    width: 100px;
                }

                p {
                    padding-top: 15px;
                    color: $primary-color;
                    font-weight: bold;
                }
            }
        }
    }

    .container {
        .row {
            .col-12.col-lg-6 {

                img {
                    padding-left:170px;
                }

            }
        }
    }
}

@media screen and (max-width: 991px) {
    .card-box {
        width: calc(100% / 3);
    }
}
